legacy/tests/pre-pivot/fixtures/report/junit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testsuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="testcase" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="1">
              <xs:element name="failure">
                <xs:complexType mixed="true">
                  <xs:attribute name="message" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="skipped">
                <xs:complexType mixed="true">
                  <xs:attribute name="message" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="classname" type="xs:string" use="optional" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="time" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="tests" type="xs:nonNegativeInteger" use="required" />
      <xs:attribute name="failures" type="xs:nonNegativeInteger" use="required" />
      <xs:attribute name="errors" type="xs:nonNegativeInteger" use="required" />
      <xs:attribute name="skipped" type="xs:nonNegativeInteger" use="required" />
      <xs:attribute name="time" type="xs:string" use="optional" />
      <xs:attribute name="timestamp" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
